@page "/"

<h1>Blazor Reporting: Events</h1>

This example demonstrates how to use client-side events to apply customizations to DevExpress Blazor Reporting controls. 

Choose a customization scenario in the left navigation menu.

