@page "/localizationdesigner"

<h1>End-User Report Designer - Localization (German)</h1>

<DxReportDesigner ReportUrl="SampleReport" Height="1000px" Width="100%">
    <DxReportDesignerClientSideModelSettings IncludeLocalization="false" />
    <DxReportDesignerCallbacks CustomizeLocalization="ReportingLocalization.onCustomizeLocalization" />
</DxReportDesigner>